<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/base :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">

                    <!-- Login Form -->
                    <form method="post">
                        <h2 class="text-center mb-4">Login</h2>

                        <!-- Email Input -->
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>

                        <!-- Password Input -->
                        <div class="form-group">
                            <label for ="password1">Password</label>
                            <input type ="password" id ="password1" name="password1" class ="form-control" required>
                        </div>

                        <!-- Submit Button -->
                        <br>
                        <button type = "submit" class = "btn btn-primary btn-block ">Submit</button>

                    </form>
                    <!-- End of Login Form -->

                </div>
            </div>
        </div>


        <script>

            // 회원가입했으면 화면에 알림창 띄우기
            $(document).ready(function() {
                var msg = "[[ ${msg} ]]";

                if (msg == "signup") {
                    alert("회원가입 되었습니다.");
                }
            });
        </script>

    </th:block>
</th:block>
</html>
