<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="~{/layout/base :: setContent(~{this :: content})}">
    <th:block th:fragment="content">


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-end">
                        <div th:if="${isUser=='false'}">
                            <a href="/users/login" class="btn btn-primary mt-2">Log in</a>&nbsp&nbsp
                            <a href="/users/signup" class="btn btn-primary mt-2">Sign in</a>
                        </div>
                        <div th:if="${isUser=='true'}">
                            <b style="font-size: larger">[[ ${user.nickname} ]]</b>
                            &nbsp&nbsp&nbsp&nbsp
                            <a href="/users/logout" class="btn btn-primary mt-2">Log out</a>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">

                        <div class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success" onclick="checkUser()">
                                <h1>&nbsp모임 생성&nbsp</h1></button>
                        </div>
                        <div style="width: 200px"></div>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success" onclick="checkUser()">
                                <h1> &nbsp모임 찾기&nbsp </h1></button>
                        </div>

                    </div>
                </div>
            </div>

            <hr><br>

            <div class="row">
                <div class="col-lg-6">


                    <div class="d-flex justify-content-center align-items-center">
                        <h1 class="mt-5">추천 모임</h1>
                    </div>

                    <div class="d-flex justify-content-center align-items-center"
                    th:each="recommend, i:${recommendTeam}" th:if="${i.index<3}">
                        <a th:href="'/club/team/' + ${recommend.tno}" class="text-decoration-none text-dark">
                        <h2 class="mt-5">[[${recommend.teamName}]] ... &nbsp(Like : [[${recommend.likeTeam}]])</h2>
                        </a>
                    </div>

                    <div class="d-flex flex-column align-items-center" th:if="${#lists.size(recommendTeam) > 3}">
                        <h1>.&nbsp.&nbsp.</h1><br>
                        <button type="button" class="btn btn-success" onclick="allRecommendTeams()" >
                            &nbsp더 보기&nbsp </button>
                    </div>


                </div>
                <div class="col-lg-6">

                    <div class="d-flex justify-content-center align-items-center">
                        <h1 class="mt-5">내 모임</h1>
                    </div>

                    <div th:if="${isUser=='true'}">
                        <div class="d-flex justify-content-center align-items-center"
                                th:each="my, i:${myTeam}" th:if="${i.index<3}">
                            <a th:href="'/club/team/' + ${my.tno}" class="text-decoration-none text-dark">
                            <h2 class="mt-5">[[${my.teamName}]]</h2>
                            </a>
                        </div>
                    </div>

                    <div class="d-flex flex-column align-items-center" th:if="${isUser=='true' && #lists.size(myTeam) > 3}">
                        <h1>.&nbsp.&nbsp.</h1><br>
                        <button type="button" class="btn btn-success" onclick="allmyTeams()" >
                            &nbsp더 보기&nbsp </button>
                    </div>

                </div>
            </div>

        </div>


        <!--   모달      -->
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="modal_recTeam">
                            <div class="d-flex justify-content-center align-items-center"
                                 th:each="recommend, i:${recommendTeam}">
                                <a th:href="'/club/team/' + ${recommend.tno}" class="text-decoration-none text-dark">
                                    <h3 class="mt-5">[[${recommend.teamName}]] ... &nbsp(Like : [[${recommend.likeTeam}]])</h3>
                                </a>
                            </div>
                        </div>

                        <div id="modal_myTeam">
                            <div class="d-flex justify-content-center align-items-center"
                                 th:each="my:${myTeam}">
                                <a th:href="'/club/team/' + ${my.tno}" class="text-decoration-none text-dark">
                                    <h3 class="mt-5">[[${my.teamName}]]</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>



        <script>

            $(document).ready(function() {
                var msg = "[[ ${msg} ]]";

                if (msg == "logout") {
                    // 회원가입했으면 화면에 알림창 띄우기
                    alert("로그아웃 되었습니다.");
                }
            });

            function checkUser() {
                var isUser = "[[ ${isUser} ]]";

                if (isUser == 'false') {
                    alert("로그인 후에 이용해주세요");
                }
            }

            function allRecommendTeams() {

                var rec = document.getElementById("modal_recTeam");
                rec.style.display = "block"
                var my = document.getElementById("modal_myTeam");
                my.style.display = "none"

                var title = document.getElementById("modal_title");
                title.innerHTML = "추천 팀";

                var modal = $(".modal");
                modal.modal("show");
            }

            function allmyTeams() {

                var rec = document.getElementById("modal_recTeam");
                rec.style.display = "none";
                var my = document.getElementById("modal_myTeam");
                my.style.display = "block";

                var title = document.getElementById("modal_title");
                title.innerHTML = "My Teams";

                var modal = $(".modal");
                modal.modal("show");
            }
        </script>

    </th:block>
</th:block>

</html>
