<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="~{/layout/base :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-end">

                        <b style="font-size: larger">[[ ${user.nickname} ]]</b>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/users/logout" class="btn btn-primary mt-2">Log out</a>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">

                        <h1>[[ ${team.teamName} ]]</h1>

                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h2 class="mt-12">게시물 작성</h2>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form th:action="@{/club/register/{tno}(tno=${team.tno})}" th:method="post">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" name="title" placeholder="Enter Title">
                        </div>

                        <div class="form-group">
                            <label>Writer</label>
                            <input type="text" class="form-control" name="nickname" th:value="${user.nickname}" readonly>
                        </div>

                        <div class="form-group">
                            <label>Content</label>
                            <textarea class="form-control" rows="10" name="content" placeholder="Enter Content"></textarea>
                        </div>

                        <input type="hidden" name="writer" th:value="${user.email}">
                        <input type="hidden" name="tno" th:value="${team.tno}">

                        <br>
                        <div class="d-flex flex-row justify-content-end align-items-center">
                        <Button type="submit" class="btn btn-success" style="width: 100px">등록</Button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </th:block>
</th:block>


</html>
