<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="~{/layout/base :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-end">
                        <!--       가입 버튼       -->
                        <div th:if="!${isJoined}" class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success" onclick="checkUser()">
                                &nbsp가입&nbsp</button>
                        </div>
                        <!--     설정 버튼      -->
                        <div th:if="${isLeader}" class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success" onclick="checkUser()">
                                &nbsp설정&nbsp</button>
                        </div>

                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b style="font-size: larger">[[ ${user.nickname} ]]</b>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/users/logout" class="btn btn-primary mt-2">Log out</a>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">

                        <h1>[[ ${team.teamName} ]]</h1>

                    </div>
                </div>
            </div>

            <hr><br>

            <div class="row">
                <div class="col-lg-4">


                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1 class="mt-5">모임 소개</h1><br>
                        <h3>[[ ${team.description} ]]</h3>
                    </div>
                    <br>
                    <hr>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1>일정표</h1>
                        <div class="schedule" th:each="schedule:${scheduleList}">
                            <h6 th:attr="title=${schedule.title},content=${schedule.content},date=${schedule.date}"
                                th:onclick="clickSchedule(this.getAttribute('title'), this.getAttribute('content'), this.getAttribute('date'))">
                                [[${#temporals.format(schedule.date, 'yyyy/MM/dd')}]] : [[${schedule.title}]]</h6>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">

                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1 class="mt-5">게시판</h1>
                    </div>



                </div>
            </div>

        </div>

        <!--   모달      -->

        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="modal_date">Modal body text goes here.</p>
                        <p id="modal_content">Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


    </th:block>
</th:block>

<script>

    function clickSchedule(title, content, date) {

        var modal_title = document.getElementById('modal_title');
        modal_title.innerHTML = title;
        var modal_date = document.getElementById('modal_date');
        modal_date.innerHTML = date;
        var modal_content = document.getElementById('modal_content');
        modal_content.innerHTML = content;

        var modal = $(".modal");
        modal.modal("show");
    }

    $(document).ready(function () {
        var modal = $(".modal");

        // $(".schedule").click(function () {
        //     modal.modal("show");
        // });


    })



</script>

</html>
