<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="~{/layout/base :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-end">
                        <!--       가입 버튼       -->
                        <div th:if="!${isJoined}" class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success" onclick="checkUser()">
                                &nbsp가입&nbsp</button>
                        </div>
                        <!--     설정 버튼      -->
                        <div th:if="${isLeader}" class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success" onclick="checkUser()">
                                &nbsp설정&nbsp</button>
                        </div>

                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b style="font-size: larger">[[ ${user.nickname} ]]</b>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/users/logout" class="btn btn-primary mt-2">Log out</a>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">

                        <h1>[[ ${team.teamName} ]]</h1>

                    </div>
                </div>
            </div>

            <hr><br>

            <div class="row">
                <div class="col-lg-4">


                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1 class="mt-5">모임 소개</h1><br>
                        <h3>[[ ${team.description} ]]</h3>
                    </div>
                    <br>
                    <hr>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1>일정표</h1>
                        <div class="schedule" th:each="schedule:${scheduleList}">
                            <h5 th:attr="sno=${schedule.sno}, title=${schedule.title},content=${schedule.content},
                                date=${#temporals.format(schedule.date, 'yyyy/MM/dd')}, tno=${team.tno}"
                                th:onclick="clickSchedule(this.getAttribute('sno'), this.getAttribute('title'),
                                this.getAttribute('content'), this.getAttribute('date'), this.getAttribute('tno'))">
                                [[${#temporals.format(schedule.date, 'yyyy/MM/dd')}]] : [[${schedule.title}]]</h5>
                        </div>
                        <br>
                        <button class="btn btn-success" style="width: 200px"
                                th:if="${isLeader}" onclick="uploadSchedule()">스케줄 입력</button>
                        <div style="height:100px"></div>
                    </div>

                </div>
                <div class="col-lg-8">

                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1 class="mt-5">게시판</h1>
                    </div>



                </div>
            </div>

        </div>




        <!--   모달      -->

        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="myForm">
                        <label id="title_label"></label>
                        <input type="hidden" id="modal_title2" class="form-control" name="title" required><br>
                        <input type="hidden" id="modal_sno" name="sno">
                        <input type="hidden" id="modal_tno" name="tno">
                        <label>날짜</label><input type="date" class="form-control" name="date" id="modal_date" required><br>
                        <label>내용</label>
                        <textarea class="form-control" name="content" rows="5" id="modal_content" required></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" id="btn_modify"
                                th:if="${isLeader}" onclick="submitForm('/schedule/modify')">수정</button>
                        <button type="button" class="btn btn-danger" id="btn_delete"
                                th:if="${isLeader}" onclick="submitForm('/schedule/delete')">삭제</button>
                        <button type="button" class="btn btn-primary" id="btn_upload"
                                th:if="${isLeader}" onclick="submitForm('/schedule/upload')">등록</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>


    </th:block>
</th:block>

<script>

    // 스케줄 클릭시 모달창을 띄우는 함수
    function clickSchedule(sno, title, content, date, tno) {

        var isJoined = [[${isJoined}]];
        var isLeader = [[${isLeader}]];

        if (!isJoined) {
            return null;
        }

        var title_label = document.getElementById("title_label")
        title_label.innerHTML = "";
        var input_title = document.getElementById("modal_title2")
        input_title.type = "hidden";

        var modal_title = document.getElementById('modal_title');
        var modal_title2 = document.getElementById('modal_title2');
        modal_title.innerHTML = title;
        modal_title2.value = title;
        var modal_sno = document.getElementById('modal_sno');
        modal_sno.value = sno;
        var modal_tno = document.getElementById('modal_tno');
        modal_tno.value = tno;
        var modal_date = document.getElementById('modal_date');
        modal_date.value = getStringDate(date);
        var modal_content = document.getElementById('modal_content');
        modal_content.value = content;



        if (!isLeader) { // 리더일 때만 편지 허용
            modal_date.readOnly = true;
            modal_content.readOnly = true;
        }
        else {
            // 리더일 때만 버튼 표시
            var btn_modify = document.getElementById("btn_modify")
            btn_modify.style.display = "block";
            var btn_delete = document.getElementById("btn_delete")
            btn_delete.style.display = "block";
            var btn_upload = document.getElementById("btn_upload")
            btn_upload.style.display = "none";
        }

        var modal = $(".modal");
        modal.modal("show");
    }

    // 날짜를 문자열로 변환하는 함수
    function getStringDate(dateStr) {
        var date = new Date(dateStr);
        var y = date.getFullYear();
        var m = String(date.getMonth() + 1).padStart(2, '0');
        var d = String(date.getDate()).padStart(2, '0');
        var stringDate = y + "-" + m + "-" + d;
        console.log(stringDate);
        return stringDate;
    }

    // 서로 다른 링크로 폼 보내기
    function submitForm(url) {

        var title = document.getElementById("modal_title2").value;
        var date = document.getElementById("modal_date").value;
        var content = document.getElementById("modal_content").value;

        if (title === '' || date === '' || content === '') {
            alert("모든 항목을 다 입력해주세요");
            return false;
        }

        var form = document.getElementById("myForm");
        var formData = new FormData(form);
        var queryString = new URLSearchParams(formData).toString();
        var link = url + "?" + queryString;
        console.log(link);
        window.location.href = link;
    }

    // 스케줄 등록 함수
    function uploadSchedule() {

        var modal_tno = document.getElementById('modal_tno');
        modal_tno.value = [[${team.tno}]];

        var modal_title = document.getElementById("modal_title")
        modal_title.innerHTML = "스케줄 등록";

        var title_label = document.getElementById("title_label")
        title_label.innerHTML = "제목";

        var input_title = document.getElementById("modal_title2")
        input_title.type = "text";

        // 버튼 보이기 여부 설정
        var btn_modify = document.getElementById("btn_modify")
        btn_modify.style.display = "none";
        var btn_delete = document.getElementById("btn_delete")
        btn_delete.style.display = "none";
        var btn_upload = document.getElementById("btn_upload")
        btn_upload.style.display = "block";

        var modal = $(".modal");
        modal.modal("show");
    }

</script>

</html>
