<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="~{/layout/base :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-end">
                        <!--       가입 버튼       -->
                        <div th:if="!${isJoined}" class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success" onclick="checkUser()">
                                &nbsp가입&nbsp</button>
                        </div>
                        <!--     설정 버튼      -->
                        <div th:if="${isLeader}" class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success" onclick="checkUser()">
                                &nbsp설정&nbsp</button>
                        </div>

                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b style="font-size: larger">[[ ${user.nickname} ]]</b>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/users/logout" class="btn btn-primary mt-2">Log out</a>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">

                        <h1>[[ ${team.teamName} ]]</h1>

                    </div>
                </div>
            </div>

            <hr><br>

            <div class="row">
                <div class="col-lg-4">


                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1 class="mt-5">모임 소개</h1><br>
                        <h3>[[ ${team.description} ]]</h3>
                    </div>
                    <br>
                    <hr>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1>일정표</h1>
                        <div th:each="schedule:${scheduleList}">
                            <h6>[[${#temporals.format(schedule.date, 'yyyy/MM/dd')}]] : [[${schedule.title}]]</h6>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">

                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1 class="mt-5">게시판</h1>
                    </div>



                </div>
            </div>

        </div>

    </th:block>
</th:block>

</html>
